#navbar {
    height:50px;
    background-color: #19535F;
}

#button1 {
    background-color:#2CB4A9;
    border: none;
    position: absolute;
    right: 100px;
    margin: 0;
}

#button2 {
    background-color:#2CB4A9;
    border: none;
    position: absolute;
    right: 30px;
}

.h1 {
    color:white;
}